/* 
Orange: DF4601
Black: 090B0B
White: FFFFFC
 */
/* ===== BASE STYLES ===== */
body {
    /* TODO: Set font-family, font-size, color (black), 
    margin for entire page */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #090B0B;
}

/* ===== HEADER + footer ===== */
header,
footer {
    /* TODO: Style header with background-color (black), color (white), 
    text-align, padding -- 
    footer is comma deliniated because it takes the same styles*/
    background-color: #090B0B;
    color: #FFFFFC;
    text-align: center;
    padding: 2em;
}

.date-time {
    /* TODO: Make the date-time orange, uppercase, and bold */
    text-transform: uppercase;
    font-weight: 800;
    color: #DF4601;
}

/* ===== MAIN CONTENT ===== */
h2 {
    /* TODO: Style the h2 (orange) -- 
    this will carry thru to all h2 elements, including the header*/
    color: #DF4601;
}

main {
    /* TODO: Add margin to main content area */
    margin: 2em;
}

a {
    /* TODO: Style links throughout the page (color, font-weight) */
    color: #090B0B;
    font-weight: 800;

}

.intro {
    /* TODO: Set font-size for lead-in paragraph to 1.25x the body font size (em) */
    font-size: 1.25em;
}

/* ===== TICKETS SUBSECTION (BUTTON) ===== */
.tickets {
    /* TODO: Set line-height to 2, text-align center, and add margin (top and bottom) */
    line-height: 2em;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;

}

.tickets a {
    /* TODO: Sets styling for button link - add padding (all sides), 
    background-color, color, and text-decoration (none) */
    color: #FFFFFC;
    background-color: #090B0B;
    text-decoration: none;
    padding: 1em;
}

/* ===== GAME DETAILS SECTION (ORANGE BOX) ===== */
.game-details {
    /* TODO: Style the game-details section with orange background, white text, 
    centered alignment, padding, and margin */
    text-align: center;
    color: #FFFFFC;
    background-color: #DF4601;
    margin: 3em;
    padding: 2em;
}

/* ===== FAQs SECTION ===== */
.faq {
    /* TODO: Add an orange left border and padding to the list section */
    border-left: 2px solid #DF4601;
    padding: 2em;
}