nav {
    font-family: "Newsreader", serif;
    text-align: center;
    background-color: #8f95d3;
    font-size: x-large;
    padding: 1em;
}

nav a {
    color: #34252f
}

body {
    background-color: #fff6ea;
}

header {
    margin: 3em;
}

.abouttitle {
    font-family: "Calistoga", serif;
    text-align: center;
    color: #34252f;
    font-size: 4em;
    background-color: #fff6ea;
}

.about {
    color: #34252f;
    font-family: "DM Sans", sans-serif;
    font-size: large;
}

.current {
    color: #34252f;
    font-family: "DM Sans", sans-serif;
    background-color: #f5dbcb;
    padding: 1em;
}

.current a {
    color: #34252f;
}

.investigative a {
    color: #34252f;
}

h1 {
    font-family: "Calistoga", serif;
    text-align: center;
    color: #34252f;
    font-size: 6em;
    background-color: #fff6ea;
}

h2 {
    font-family: "Newsreader", serif;
    color: #34252f;
    font-weight: bold;
}

h3 {
    text-align: center;
    font-family: "Newsreader", serif;
    color: #34252f;
    font-weight: bold;
    background-color: #f5dbcb;
    padding-top: .5em;
    padding-bottom: .5em;
}

h4 {
    font-family: "Newsreader", serif;
    color: #34252f;
    font-weight: bold;
}

h5 {
    font-family: "Newsreader", serif;
    color: #34252f;
}

h6 {
    font-size: smaller;
}

.investigativetitle {
    text-align: center;
    font-family: "Newsreader", serif;
    color: #34252f;
    font-weight: bold;
    background-color: #f5dbcb;
    padding: .5em;
    font-size: 2em;
}

.datatitle {
    text-align: center;
    font-family: "Newsreader", serif;
    color: #34252f;
    font-weight: bold;
    background-color: #f5dbcb;
    padding: .5em;
    font-size: 2em;
}

.localtitle {
    text-align: center;
    font-family: "Newsreader", serif;
    color: #34252f;
    font-weight: bold;
    background-color: #f5dbcb;
    padding: .5em;
    font-size: 2em;
}

.featurestitle {
    text-align: center;
    font-family: "Newsreader", serif;
    color: #34252f;
    font-weight: bold;
    background-color: #f5dbcb;
    padding: .5em;
    font-size: 2em;
}

.education {
    font-family: "DM Sans", sans-serif;
    color: #34252f;

}

.educationtitle {
    font-family: "Newsreader", serif;
    color: #34252f;
    font-weight: bold;
    font-size: 1.5em;
}

.maryland {
    font-family: "Newsreader", serif;
    color: #34252f;
    font-size: 1.3em;
}

.marywash {
    font-family: "Newsreader", serif;
    color: #34252f;
    font-size: 1.3em;
}

.skillstitle {
    font-family: "Newsreader", serif;
    color: #34252f;
    font-weight: bold;
    font-size: 1.5em;
}

.writingskills {
    font-family: "Newsreader", serif;
    color: #34252f;
    font-size: 1.3em;
    font-weight: bold;
}

.researchskills {
    font-family: "Newsreader", serif;
    color: #34252f;
    font-size: 1.3em;
    font-weight: bold;
}

.multimediaskills {
    font-family: "Newsreader", serif;
    color: #34252f;
    font-size: 1.3em;
    font-weight: bold;
}

.experience {
    font-family: "Newsreader", serif;
    color: #34252f;
    font-weight: bold;
    font-size: 1.5em;
}

footer {
    font-family: "Newsreader", serif;
    text-align: center;
    color: #34252f;
    background-color: #8f95d3;
    padding: 1em;
    font-size: larger;
}

footer a {
    color: #34252f;
}