/*  
font-family: "DM Sans", sans-serif;
font-family: "Newsreader", serif;
*/

body {
    font-family: DM Sans;
    color: #090b0b;
}

header {
    background-color: #090b0b;
    text-align: center;
}

footer {
    font-weight: 800;
    text-align: center;
}

.start {
    padding-top: 7em;
    padding-bottom: 5em;
}

h1 {
    font-family: Newsreader;
}

h2 {
    font-family: Newsreader;
}

h3 {
    font-family: Newsreader;
}

nav {
    background-color: #090b0b;
    padding-bottom: 2em;
    text-align: center;
    color: #FFFFFC;
    text-transform: uppercase;
    /* I cannot figure out why the link won't also be white.. I'm looking back at the CSS for the link in opening day and it's the same?? What the heck*/
}

.location {
    background-color: #090b0b;
    color: #FFFFFC;
    font-family: Newsreader;
    text-align: center;
    padding: 2em;
    margin-bottom: 2em;
}

.headlines {
    font-family: Newsreader;
    color: #090b0b;
    text-transform: uppercase;
    font-size: 1px
        /* I couldn't figure out how to get the font smaller. */
}

.start {
    text-align: center;
    font-family: Newsreader;
    margin-bottom: 5em;
    padding-bottom: 5em;
}

.blank {
    color: #FFFFFC;
}